{% extends 'News/default.html' %}
{% load custom_filters %}
{% block title %}

All news
{% endblock title %}

{% block content %}
<h2>Количество новостей: {{ news|length }}</h2>
<h1>Все новости:</h1>
<hr />
{% for i in news %}
    Название: "{{ i.title_post | censor:'жил' }}"
    <br />
    Дата публикации: {{ i.date_creation| date:'d m Y' }}
    <br />
    Текст: {{ i.text_post | truncatechars:20 }}
    <hr />
{% endfor %}
{% if page_obj.has_previous %}
    <a href="?page=1">1</a>
    {% if page_obj.previous_page_number != 1 %}
        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}
{{ page_obj.number }}
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
    {% if page_obj.next_page_number != paginator.num_pages %}
    <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
    {% endif %}
{% endif %}
{% endblock content %}

