{% extends 'News/default.html' %}
{% load custom_tags %}
{% block title %}

All news
{% endblock title %}

{% block content %}
<h2>Количество статей на странице: {{ news|length }}</h2>
<h1>Все статьи:</h1>
<hr />
{% for i in news %}
    Название: <b>"{{ i.title_post }}"</b>
    <br />
    Дата публикации: <i>{{ i.date_creation| date:'d m Y' }}</i>
    <br />
    Текст: <i>{{ i.text_post | truncatechars:20 }}</i>
    <br />
    <button><a href="{% url 'news_details' i.pk %}">Читать полностью</a></button>
    <hr />

{% endfor %}
{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}
{{ page_obj.number }}
{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if page_obj.next_page_number != paginator.num_pages %}
    <a href="?{% url_replace page=paginator.num_pages %}">{{ paginator.num_pages }}</a>
    {% endif %}
{% endif %}
{% endblock content %}

